name: dev
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install deps
        run: npm install

      - name: Lint
        run: npm run lint       #  yarn lint

      - name: Run tests
        run: npm test           #  npm test return 0 

      - name: Upload test results (optional)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: junit-results
          path: test-results.xml || ./coverage
