name: Testing Workflow
on: push
jobs:
  runs-on: ubuntu-latest
  steps:
    - name: Get the repository code
      uses: actions/checkout@v5
    - name: install dependencies
      run: npm ci
    - name: run tests
      run: npm test